
@{
    ViewData["Title"] = "FoodDetails";
}

<div id="main">
    <h1>Amritsar</h1>
</div>
<div id="foodPic">
    <img src="~/images/A1.jpg">
</div>

<section id="itemDetailsInfo">
    <div class="quantity">
        <button class="qtyMinus">-</button>
        <input type="text" id="qty" name="Quantity">
        <button class="qtyAdd">+</button>
    </div>
    <div id="foodHead">
        <div class="name"><h2>Amritsari Kulcha</h2></div>
        <div class="price"><h2>$10.99</h2></div>
    </div>

    <h2>Details:</h2>

    <p>Kulcha is very famous in Amritsar. Maida flour dough is rolled into a flat, round shape and backed in tandoor or tawa or oven till turns little golden brown.</p>

<h2>History:</h2>
    <p>The famous kulcha is probably one of the few dishes in the world that even has its own sound, the crispy crunch. And speaking of crispy, the story of how the kulcha came to be packs its own crunch.

<p>The origin of tandoors and tandoori cooking can be traced back to the time of the Indus Valley civilisation.
        But it is naan that is credited with the birth of the stuffed kulcha. Naan, meanwhile, came to India from Persia. 
        One can only guess that this birth took place in a nameless kitchen one fine day when a cook decided that the naan was just plain boring,
    and decided to stuff the naan with some interesting ingredients.</p>
   
    <button id="cart" type="button">ADD TO CART</button>
    <button id="checkout" type="button">CHECKOUT</button>
</section>

