@{
    ViewData["Title"] = "Home Page";
}

<div id="main">
    <h1>House of cities</h1>
    <img src="images/vinitha.jpg" />
</div>

<section id="deliveryType">
    <h4>WHAT WE OFFER</h4>
    <div class="deliveryOptions">
        <div class="list">
            <img src="images/waiter.png" />
            <h5>CATERING</h5>
        </div>
        <div class="list">
            <img src="images/take-away.png" />
            <h5>TAKE-OUT</h5>
        </div>
        <div class="list">
            <img src="images/dine.png" />
            <h5>DINE-IN</h5>
        </div>
        <div class="list">
            <img src="images/wine.png" />
            <h5>LIQUOR</h5>
        </div>
    </div>
</section>
<hr />
<section id="gallery">
    <h1>Famous Cities</h1>
    <div class="first_line">
        <div class="line">
            <img src="images/aloo-kulcha.jpeg">
            <h6>Amritsar</h6>
        </div>
        <div class="line">
            <img src="images/Hyderabadichickenbiryani.jpeg">
            <h6>Hydrabad</h6>
        </div>
        <div class="line">
            <img src="images/agra.jpeg">
            <h6>Agra</h6>
        </div>
        <div class="line">
            <img src="images/mumbai.jpg">
            <h6>Mumbai</h6>
        </div>
        <div class="line">
            <img src="images/Chennai.jpg">
            <h6>Chennai</h6>
        </div>
        <div class="line">
            <img src="images/Surat.jpg">
            <h6>Surat</h6>
        </div>
    </div>
</section>
<hr />
<section id="restaurant_details">
    <h1>Welcome</h1>
    <div class="rest_list">
        <img src="images/image1.jpg" />
        <div class="details">
            <p>Enjoy the delicious taste of  cuisines of your own cities at House of cities and kick the home sickness</p>
            <button>MENU</button>
        </div>
    </div>
    <div class="rest_list">
        <div class="details2">
            <p>Enjoy the delicious taste of  cuisines of your own cities at House of cities and kick the home sickness</p>
            <button>RESERVATION</button>
        </div>
        <img src="images/hitesh.jpg" />
    </div>
</section>

