
@{
    ViewData["Title"] = "Payment";
}

<div id="main">
    <h1>Payment</h1>
</div>


<form>
    <h2 class="payHead">Payment Method</h2>

    <div id="paymentInfo">
        <input placeholder="xxxx xxxx xxxx xxxx" />

        <input placeholder="MM/YY" />

        <input placeholder="CVV" />


        <!--<div id="cards">
            <div id="firstCard">
                <img src="images/visaCard.png" />

            </div>
            <div id="secondCard">
                <img src="images/visaCard.png" />

            </div>
            <div id="thirdCard">
                <img src="images/visaCard.png" />

            </div>
        </div>-->
    </div>


    <h2 class="payHead">Billing Information</h2>

    <div id="billingInfo">
        <input placeholder="Company Name" />

        <input placeholder="First and last name" />

        <input placeholder="Address1" />

        <input placeholder="Address2" />

        <input placeholder="City" />

        <input placeholder="Country" />

        <input placeholder="Postal code" />

        <input placeholder="Phone number" />

        <input placeholder="Email address" />

        <button id="paymentButton" type="button">CONFIRM PAYMENT</button>
    </div>
</form>
