
@{
    ViewData["Title"] = "Reservation";
}

<div id="main">
    <h1>Make a Reservation</h1>
</div>

<img src="~/images/Reserve.jpg" class="picReserve"/>

<form>
    <h4 class="reserveHead">Book a Table</h4>

    <div id="reservationInfo">
        <input placeholder="Enter date (DD/MM/YYYY)" />
        
        <input placeholder="Enter time (HH:MM am/pm)" />
        
        <input placeholder="Number of people" />
        
        <input placeholder="Email" />
        
        <input placeholder="Contact number" />
        
        <button id="reservationButton" type="button">RESERVE TABLE</button>

    </div>

</form>

